@import url('https://fonts.googleapis.com/css?family=Poppins');

/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Font Families */
    --font-family: 'Poppins', sans-serif;


    /* Font Sizes */
    --font-size-h1: clamp(3.5vw, 4vw + .8rem, 3rem);
    --font-size-h1-variant: clamp(3rem, 4vw + .3rem, 2.5rem);
    /* ~40px → 72px */
    --font-size-h2: clamp(2rem, 3.5vw + 0.5rem, 2.25rem);
    /* ~32px → 52px */
    --font-size-h3: clamp(1.5rem, 3vw + 0.5rem, 2rem);
    /* ~24px → 42px */
    --font-size-h4: clamp(1rem, 3vw + 0.5rem, 1.2rem);
    --font-size-body: clamp(.8rem, 0.6vw + 0.5rem, 1rem);
    /* ~16px → 19px */
    --font-size-code: clamp(0.6rem, 0.125vw + 0.4rem, 0.6rem);
    /* ~13px → 15px */

    /* Optional line-height control */
    --line-height-headings: 1.2;
    --line-height-body: 1.6;

    /* Colors */
    --color-primary: #FB3B49;
    --color-primary-dark: #bb0609;
    --color-secondary: #ffebb5;
    --color-background: #f5f5f5;
    --color-gray: #f8f4f4;
    --color-dark: #000;
    --color-white: #fff;
    --color-accent: #F3E2DA;
    --dark-gray: #3A3B3C;

    /* Spacing */
    --spacing-vertical: 1rem;
    --spacing-horizontal: 2rem;

    /* UI Elements */
    --border-radius: 5px;
    --button-padding: 10px 20px;
    --button-bacckground: #FB3B49;
    --input-border: 1px solid #ccc;
    --input-placeholder-color: #999;
    --btn-box-shadow-1: 8px 8px 0 rgba(251, 59, 73, 0.2);
    --btn-box-shadow-2: 8px 8px 0 rgba(128, 83, 35, 0.2);
}

body {
    font-family: var(--font-family);
    background-color: var(--color-accent);
    font-size: var(--font-size-body);
    background-color: var(--color-white);
    /* width: 100vw;
    height: 100vh; */
    color: var(--dark-gray);
}

body::before {

    color: var(--color-dark);
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* custom style */
header {
    width: 100%;
}

#header .love {
    /* border: 2px solid #000; */
    display: flex;
}

header .header-container {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}


nav {
    width: 600px;
    height: 60px;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid blue; */
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: var(--color-dark);
    font-size: var(--font-size-body);
}

.blackHeart {
    width: 40px;
    margin-right: 1rem;
}

#search-container {

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    background-color: var(--color-white);
    width: 100%;
    height: 100px;
}

.img-container {
    display: flex;
    align-items: center;
}

.img-container img {
    width: 90px;
}

span img {
    width: 20px;
}

.search-field {
    display: flex;
    align-items: center;
    border: 1px solid var(--dark-gray);
    padding: 2px;
    width: clamp(300px, 70vw, 1000px);
    position: relative;
    height: 60px;
    /* Never exceeds 600px, scales down on small screens */
}

.search-field span {
    display: flex;
    align-items: center;
    margin-right: 8px;
    margin-left: 10px;
}

.search-field input[type="text"] {
    border: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    width: clamp(150px,
            calc(150px + 50 * (100vw - 768px) / 224),
            200px);

}

.search-field input[type="button"] {
    background-color: var(--button-bacckground);
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 0;
    width: clamp(25%,
            calc(20% + 5 * (100vw - 768px) / 224),
            30%);
    height: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-field input[type="button"]:hover {
    background-color: var(--color-primary-dark);
}

.buttons button {
    background-color: var(--color-gray);
    color: var(--color-dark);
    border: 2px solid var(--color-dark);
    padding: 12px 22px;
    cursor: pointer;
    margin-left: 4px;
    font-size: 17px;
}

.buttons button:hover {
    background: var(--color-accent);
}

.buttons button:first-of-type {
    background-color: none;
}

.buttons button:nth-child(2) {
    border: none;
}


/* first hero section styling */
#hero {
    border: 2px solid var(--color-gray);
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--color-gray);
    padding: 50px 80px;
    width: 100%;
}

#hero h1 {
    font-size: var(--font-size-h1);
    font-weight: bolder;
    line-height: 1.2;
    margin-top: 2rem;
    text-wrap: nowrap;
}

#hero p {
    text-align: center;
    font-size: var(--font-size-body);
    margin: 2rem auto;
    text-wrap: wrap;
    width: 70%;
}

#hero .buttons {
    width: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

}

#hero .buttons button {
    padding: 15px 40px;
    width: 70%;
    font-weight: 600;
    background-color: #FB3B49;
    border: none;
    color: var(--color-white);
    margin-top: 0.5rem;
}

#hero .buttons button:first-child {
    box-shadow: var(--btn-box-shadow-1);
}

#hero .buttons button:first-child:hover {
    background-color: var(--color-primary-dark);
}

#hero .buttons button:nth-child(2) {
    margin-left: 30px;
    background-color: var(--color-white);
    color: var(--color-dark);
}

#hero .buttons button:nth-child(2):hover {
    background-color: var(--color-accent);
}

#second-section,
#fourth-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 4rem;
    border: 2px solid var(--color-gray);
    /* border-color: #FB3B49; */
    
}

#second-section .img-container {
    margin-top: 4.5rem;
}

#second-section img {
    width: 150px;
    height: auto;
    object-fit: cover;
}

#second-section h2 {
    font-size: var(--font-size-h2);
    font-weight: 900;
    background-color: var(--color-secondary);
    margin: 2rem auto 0;
    transform: skew(9deg, 0deg);
    font-style: italic;
    width: 80%;
    text-align: center;
    line-height: 1.1;
}

#second-section p {
    text-align: center;
    width: 70%;
    margin: 1rem auto 2rem;
}

#third-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #bb0609;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('./images/bg.png');
    background-size: cover;
    background-position: center;
    padding: 3rem;

}

#third-section .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;

}

#third-section .row>.col {
    width: 400px;
    padding: 14px 25px;
}

#third-section .col img {
    width: 60px;
    height: 40px;
    margin: 15px 0;
}

#third-section .col h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--color-primary)
}

#third-section button {
    padding: 15px 30px;
    font-weight: 600;
    border: none;
    color: var(--color-white);
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 20%;
    background-color: var(--color-dark);
    color: var(--color-white);
    font-size: var(--font-size-body);
    box-shadow: var(--btn-box-shadow-2);
}

#third-section button:hover {
    cursor: pointer;
    border:2px solid var(--color-gray);

}



#fourth-section {
    margin-top: 3rem;
    border: none;
}

#fourth-section .img-container {
    width: 200px;
    margin-top: 3rem;
}


#fourth-section img {
    width: 400px;
    height: auto;
    object-fit: cover;
    margin-top: 1rem;
}

#fourth-section h2 {
    font-size: var(--font-size-h1-variant);
    font-weight: 900;
    margin: 2rem auto 0;
    width: 50%;
    text-align: center;
    line-height: 1.1;
}

#fourth-section p {
    text-align: center;
    ;
    margin-top: 10px;
    width: 40%;
    font-size: var(--font-size-body);
}

footer {
    background-color: var(--color-secondary);
    display: grid;
    padding: 5rem 2rem;
    /* gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: 100px 1fr 1fr 1fr;
}

footer .logo :first-child {
    margin-bottom: .7rem;

}

footer .link * {
    margin-bottom: .7rem;
}

footer .link h4 {
    font-size: var(--font-size-h4);
    font-weight: 600;
}

footer .link a {
    text-decoration: none;
    color: var(--dark-gray);
}

footer .link a:hover,
footer .link a:active {
    color: var(--color-primary);
    text-decoration: underline;
}



/* media queries */
/* This box class is purely used for explaining how the bootstrap grid system works. */
/* Media Queries for Responsive Design */

/* For tablets (768px - 991.98px) */
@media (max-width: 991.98px) {
    nav {
        width: 500px;
    }

    header .header-container {
        justify-content: space-between;
        height: 8vh;
    }

    .love span {
        display: none
    }

    .search-field input[type="button"] {
        width: 25%;

    }


    .buttons button {
        padding: 10px 18px;
        font-size: 16px;
    }

    #third-section .row {
        flex-wrap: wrap;
        gap: 1.3rem;
    }

    #third-section button {
        padding: 15px 30px;
        width: 50%;
    }

    #fourth-section h2,
    #fourth-section p {
        width: 80%;
    }

}

/* For small tablets/large phones (576px - 767.98px) */
@media (max-width: 767.98px) {
    header .header {
        height: 8vh;

    }

    nav {
        width: 100%;
        height: auto;
        margin-top: 2px;
    }

    nav ul {
        gap: 10px;
    }

    #search-container {
        flex-direction: column;
        height: auto;
        padding: 3rem 1rem;
        gap: 2rem;
    }

    .search-field {
        width: 100%;
        margin: 10px 0;
    }

    #hero .buttons {
        width: 100%;
        gap: 8px;

        /* border: 2px solid red; */
    }

    #third-section .row>.col {
        /* border: 2px solid black; */
        width: 1000px;
        padding: 14px 25px;
    }

    /* For mobile phones (up to 575.98px) */
    @media (max-width: 575.98px) {
        header .header-container {
            height: 10vh;
            row-gap: 2px;
        }

        .love {
            margin-top: 6px;
            margin-right: 0;
            place-content: center;
        }

        nav ul {
            flex-wrap: wrap;
            gap: 10px;
        }

        .search-field input[type="text"] {
            width: 150px;
        }

        .search-field input[type="button"] {
            width: 30%;
        }


        .buttons button {
            margin: 5px 0;
            width: 100%;
        }

        #hero .buttons button:nth-child(2) {
            margin-left: 0;
            margin-top: 1px;
        }

        .img-container img {
            width: 70px;
        }

        .blackHeart {
            width: 30px;
        }
    }

    #third-section .row>.col {
        /* border: 2px solid black; */
        width: 1000px;
        padding: 14px 25px;
    }

    footer {
        /* On tablets, use a 2-column layout */
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
        /* Align text to the left */
    }
}